/* PALLETE

dark-primary-color:     #303F9F;
default-primary-color:  #3F51B5;
light-primary-color:    #C5CAE9;
accent-color:           #44b39b;
divider-color:          #B6B6B6

*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(http://fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

html {
    color: #e8e8e8;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #303F9F;
    background:
        linear-gradient(
            #303F9F,
            transparent
        ),
        linear-gradient(
            -45deg,
            #007E6E,
            transparent
        ),
        linear-gradient(
            45deg,
            #3F007E,
            transparent
        );
    background-blend-mode: multiply;
}

html, body {
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#main.resizing {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#congrats {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    padding-top: 10%;
}

#congrats img {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

#congrats > div {
    font-size: 60px;
    text-align: center;
}

#puzzle-container {
    position: absolute;
    left: 50%;
}

#puzzle-container > .puzzle-tile {
    width: 0;
    height: 0;
    background: #3F51B5;
    display: block;
    position: absolute;
    text-align: center;
    cursor: pointer;
    z-index: 2;
    -webkit-transition: all .16s ease-out;
    -moz-transition: all .16s ease-out;
    -ms-transition: all .16s ease-out;
    -o-transition: all .16s ease-out;
    transition: all .16s ease-out;
}

#puzzle-container > .puzzle-tile.empty {
    background: #3F51B5;
    cursor: initial;
    z-index: 1;
}

#puzzle-container > .puzzle-tile.moving {
    transform: scale3d(1.05, 1.05, 1.05);
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.15), 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}

footer {
    position: fixed;
    height: 90px;
    width: 100%;
    bottom: 0;
    z-index: 3;
}

#size-controls {
    position: absolute;
    opacity: .7;
    text-align: center;
    bottom: 40px;
    width: 100%;
}

#size-controls > span {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-left: 12px;
}

#size-controls > span:nth-child(2) {
    margin-right: 48px;
}

#btn-shuffle {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: #44b39b url('../img/shuffle.svg') no-repeat center center;
}

.btn-floating {
    outline: 0;
    display: block;
    color: #FFF;
    border: 0;
    overflow: hidden;
    z-index: 1;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}

.btn-floating:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

@media (max-device-width : 1024px) {
    /* turn off complex gradient background for tablets and phones */
    html {
        background: #303F9F;
    }
    /* turn off puzzle tile and resizing animation */
    #puzzle-container > .puzzle-tile {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }

    #puzzle-container > .puzzle-tile.moving {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transform: none;
    }
    
    #main.resizing {
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
        filter: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
}

@media (max-device-width : 736px) {
    /* fix layout for iPhone 6plus and below */
    #btn-shuffle {
        position: relative;
        margin-top: 20px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        display: inline-block;
        right: initial;
        bottom: initial;
    }

    #main {
       overflow: auto;
    }

    footer {
        text-align: center;
        background: rgba(255, 255, 255, .1);
        height: 100px;
    }

    #size-controls {
        bottom: 20px;
    }

    #size-controls > span {
        margin-left: 6px;
    }

    #size-controls > span:nth-child(2) {
        margin-right: 60px;
    }
}